*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

dependency-reduced-pom.xml
selective-search.iml
selective-search.ipr
selective-search.iws

.idea/

target/
/spark-warehouse
Spark_KMean_Model/
src/test/resources/test_records_set_3_copy/
spark_cluster_job_op/
null/
.DS_Store
src/test/resources/
src/test/resources/test_records_set_2/